################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IOT.API/obj
/IOT.Business/obj
/IOT.Data/obj
/IOT.Entities/obj
/IOT.API/bin
/IOT.Business/bin
/IOT.Data/bin
/IOT.Entities/bin